{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{% if suggestion_list %}
<ul>
{% for s in suggestion_list %}
<li>{{ s.suggestion }} - {{ s.author }}
    <ul>
        {% for c in s.comments %}
        <li>{{ c.comment }} - {{ c.author }}</li>
        {% endfor %}
    </ul>
</li>
{% endfor %}
{% endif %}
</ul>
{% if user.is_authenticated %}
<form action="/" method="post">
    {% csrf_token %}
    {{ form.suggestion.label }}
    {{ form.suggestion }}
    {{ form.suggestion.errors }}

    <input type="submit" class="button" value="Add Suggestion" />
</form>
{% endif %}
{% endblock %}
