{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="grid-x grid-padding-x">
    <div class="large-10 medium-10 small-12 large-offset-1 medium-offset-1 cell">
    <div id="app-4">
        <span v-if="unseen">
            <div class="card-info primary" v-for="sugg in suggestions">
                <div class="card-info-content">
                    {% verbatim %}
                    <img :src="sugg.image" :alt="sugg.image_desc"/>
                    <h3 class="lead">{{ sugg.suggestion }}</h3>
                    authored by {{ sugg.author}}
                    published on {{ sugg.date }}
                    <div class="grid-x">
                        <div class="large-11 medium-11 small-12 large-offset-1 medium-offset-1 cell">
                        
                            <div class="card-info primary" v-for="comm in sugg.comments">
                                <div class="card-info-content">
                                    {{ comm.comment }} - {{ comm.author }} - {{ comm.date }}
                                    </div>
                            </div>
                        </div>
                    </div>
                    <a :href="'/comment/'+sugg.id+'/'" class="button">comment</a>
                    {% endverbatim %}
                </div>
            </div>
        </div>
        </span>
        <span v-if="seen">
        <p>Suggestions loading</p>
        </span>
    </div>
</div>
    
  
  
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static "js/app.js" %}"></script>
{% endblock %}
